/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*user-select: none;*/
}
 .yellow-text{
  color: #F3D333;
 }

 .crossed{
  text-decoration: line-through;
 }

 .scene{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 }

